name: Build app

on:
  push:
    branches:
      - main
    paths-ignore:
      - "README.md"
      - ".github/**"
      - ".vscode/**"
      - ".idea/**"
      - "test/**"
      - ".gitignore"

jobs:
  build_ios:
    name: Build Unsigned iOS IPA
    runs-on: macos-15

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4.2.2

      - name: Set up Flutter
        uses: subosito/flutter-action@v2.14.0
        with:
          cache: true
          cache-key: "flutter-:os:-:channel:-:version:-:arch:-:hash:"
          cache-path: "${{ runner.tool_cache }}/flutter/:channel:-:version:-:arch:"

      - name: Cache Pub Dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.pub-cache
            ${{ github.workspace }}/.dart_tool
          key: ${{ runner.os }}-pub-${{ hashFiles('**/pubspec.lock') }}
          restore-keys: |
            ${{ runner.os }}-pub-

      - name: Cache CocoaPods
        uses: actions/cache@v4
        with:
          path: |
            ios/Pods
            ~/Library/Caches/CocoaPods
            ~/.cocoapods
          key: ${{ runner.os }}-pods-${{ hashFiles('**/Podfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-pods-

      - name: Install Flutter Dependencies
        run: flutter pub get

      - name: Install CocoaPods Dependencies
        run: |
          cd ios
          pod install
          cd ..

      - name: Build iOS App (Unsign)
        run: |
          flutter build ios --release --no-codesign \
            --dart-define=MAIMAI_NET_API_AES_KEY="${{ secrets.MAIMAI_NET_API_AES_KEY }}" \
            --dart-define=MAIMAI_NET_API_AES_IV="${{ secrets.MAIMAI_NET_API_AES_IV }}" \
            --dart-define=MAIMAI_NET_API_OBFUSCATE_PARAM="${{ secrets.MAIMAI_NET_API_OBFUSCATE_PARAM }}" \
            --dart-define=MAIMAI_NET_API_KEYCHIP_ID="${{ secrets.MAIMAI_NET_API_KEYCHIP_ID }}" \
            --dart-define=MAIMAI_NET_API_SALT="${{ secrets.MAIMAI_NET_API_SALT }}" \
            --dart-define=MAIMAI_NET_API_OPEN_GAME_ID="${{ secrets.MAIMAI_NET_API_OPEN_GAME_ID }}" \
            --dart-define=MAIMAI_NET_API_CHIME_ENDPOINT="${{ secrets.MAIMAI_NET_API_CHIME_ENDPOINT }}" \
            --dart-define=MAIMAI_NET_API_TITLE_ENDPOINT="${{ secrets.MAIMAI_NET_API_TITLE_ENDPOINT }}"

      - name: Package Unsigned IPA
        run: |
          mkdir -p Payload
          cp -r build/ios/iphoneos/Runner.app Payload/
          zip -r RankHub.ipa Payload
          rm -rf Payload

      - name: Upload Unsigned IPA
        uses: actions/upload-artifact@v4.3.3
        with:
          name: Unsigned-iOS-IPA
          path: RankHub.ipa

  build_android:
    name: Build Android APK
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4.2.2

      - name: Set up Flutter
        uses: subosito/flutter-action@v2.14.0
        with:
          cache: true
          cache-key: "flutter-:os:-:channel:-:version:-:arch:-:hash:"
          cache-path: "${{ runner.tool_cache }}/flutter/:channel:-:version:-:arch:"

      - name: Cache Pub Dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.pub-cache
            ${{ github.workspace }}/.dart_tool
          key: ${{ runner.os }}-pub-${{ hashFiles('**/pubspec.lock') }}
          restore-keys: |
            ${{ runner.os }}-pub-

      - name: Cache Gradle
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
            android/.gradle
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Install Flutter Dependencies
        run: flutter pub get

      - name: Decode Keystore
        run: echo "${{ secrets.ANDROID_RELEASE_KEY }}" | base64 --decode > android/app/release.keystore

      - name: Create key.properties
        run: |
          cat <<EOF > android/key.properties
          storePassword=${{ secrets.ANDROID_RELEASE_KEY_PASSWORD }}
          keyPassword=${{ secrets.ANDROID_RELEASE_KEY_PASSWORD }}
          keyAlias=upload
          storeFile=release.keystore
          EOF

      - name: Build Android APK
        run: |
          flutter build apk --split-per-abi --release \
            --dart-define=MAIMAI_NET_API_AES_KEY="${{ secrets.MAIMAI_NET_API_AES_KEY }}" \
            --dart-define=MAIMAI_NET_API_AES_IV="${{ secrets.MAIMAI_NET_API_AES_IV }}" \
            --dart-define=MAIMAI_NET_API_OBFUSCATE_PARAM="${{ secrets.MAIMAI_NET_API_OBFUSCATE_PARAM }}" \
            --dart-define=MAIMAI_NET_API_KEYCHIP_ID="${{ secrets.MAIMAI_NET_API_KEYCHIP_ID }}" \
            --dart-define=MAIMAI_NET_API_SALT="${{ secrets.MAIMAI_NET_API_SALT }}" \
            --dart-define=MAIMAI_NET_API_OPEN_GAME_ID="${{ secrets.MAIMAI_NET_API_OPEN_GAME_ID }}" \
            --dart-define=MAIMAI_NET_API_CHIME_ENDPOINT="${{ secrets.MAIMAI_NET_API_CHIME_ENDPOINT }}" \
            --dart-define=MAIMAI_NET_API_TITLE_ENDPOINT="${{ secrets.MAIMAI_NET_API_TITLE_ENDPOINT }}"
        env:
          KEYSTORE_PASSWORD: ${{ secrets.ANDROID_RELEASE_KEY_PASSWORD }}
          KEY_ALIAS: key
          KEY_PASSWORD: ${{ secrets.ANDROID_RELEASE_KEY_PASSWORD }}

      - name: Upload arm64-v8a APK
        uses: actions/upload-artifact@v4.3.3
        with:
          name: Android-APK-arm64-v8a
          path: build/app/outputs/flutter-apk/app-arm64-v8a-release.apk

      - name: Upload armeabi-v7a APK
        uses: actions/upload-artifact@v4.3.3
        with:
          name: Android-APK-armeabi-v7a
          path: build/app/outputs/flutter-apk/app-armeabi-v7a-release.apk

      - name: Upload x86_64 APK
        uses: actions/upload-artifact@v4.3.3
        with:
          name: Android-APK-x86_64
          path: build/app/outputs/flutter-apk/app-x86_64-release.apk
