name: Patch

on:
  push:
    tags:
      - "patch/v[0-9]+.[0-9]+.[0-9]+*"

env:
  SHOREBIRD_TOKEN: ${{ secrets.SHOREBIRD_TOKEN }}

jobs:
  patch_ios:
    name: Patch iOS with Shorebird
    runs-on: macos-15

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4.2.2

      - name: Get version from pubspec.yaml
        id: get_version
        run: |
          VERSION=$(grep '^version:' pubspec.yaml | sed 's/version: //' | sed 's/+.*//')
          echo "version=$VERSION" >> $GITHUB_OUTPUT
          echo "Version: $VERSION"

      - name: Get commit hash
        id: get_commit
        run: |
          COMMIT_HASH=$(git rev-parse --short HEAD)
          echo "hash=$COMMIT_HASH" >> $GITHUB_OUTPUT
          echo "Commit Hash: $COMMIT_HASH"

      - name: Set up Flutter
        uses: subosito/flutter-action@v2.14.0
        with:
          cache: true
          cache-key: "flutter-:os:-:channel:-:version:-:arch:-:hash:"
          cache-path: "${{ runner.tool_cache }}/flutter/:channel:-:version:-:arch:"

      - name: Cache Pub Dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.pub-cache
            ${{ github.workspace }}/.dart_tool
          key: ${{ runner.os }}-pub-${{ hashFiles('**/pubspec.lock') }}
          restore-keys: |
            ${{ runner.os }}-pub-

      - name: Cache CocoaPods
        uses: actions/cache@v4
        with:
          path: |
            ios/Pods
            ~/Library/Caches/CocoaPods
            ~/.cocoapods
          key: ${{ runner.os }}-pods-${{ hashFiles('**/Podfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-pods-

      - name: Install Flutter Dependencies
        run: flutter pub get

      - name: Install CocoaPods Dependencies
        run: |
          cd ios
          pod install
          cd ..

      - name: Setup Shorebird
        uses: shorebirdtech/setup-shorebird@v1
        with:
          cache: true

      - name: Shorebird Patch iOS
        uses: shorebirdtech/shorebird-patch@v1
        with:
          platform: ios
          release-version: latest
          args: >
            --
            --dart-define="BUILD_VERSION=${{ steps.get_version.outputs.version }}"
            --dart-define="BUILD_NUMBER=${{ github.run_number }}"
            --dart-define="COMMIT_HASH=${{ steps.get_commit.outputs.hash }}"
            --dart-define="MAIMAI_NET_API_AES_KEY=${{ secrets.MAIMAI_NET_API_AES_KEY }}"
            --dart-define="MAIMAI_NET_API_AES_IV=${{ secrets.MAIMAI_NET_API_AES_IV }}"
            --dart-define="MAIMAI_NET_API_OBFUSCATE_PARAM=${{ secrets.MAIMAI_NET_API_OBFUSCATE_PARAM }}"
            --dart-define="MAIMAI_NET_API_KEYCHIP_ID=${{ secrets.MAIMAI_NET_API_KEYCHIP_ID }}"
            --dart-define="MAIMAI_NET_API_SALT=${{ secrets.MAIMAI_NET_API_SALT }}"
            --dart-define="MAIMAI_NET_API_OPEN_GAME_ID=${{ secrets.MAIMAI_NET_API_OPEN_GAME_ID }}"
            --dart-define="MAIMAI_NET_API_CHIME_ENDPOINT=${{ secrets.MAIMAI_NET_API_CHIME_ENDPOINT }}"
            --dart-define="MAIMAI_NET_API_TITLE_ENDPOINT=${{ secrets.MAIMAI_NET_API_TITLE_ENDPOINT }}"

  patch_android:
    name: Patch Android with Shorebird
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4.2.2

      - name: Get version from pubspec.yaml
        id: get_version
        run: |
          VERSION=$(grep '^version:' pubspec.yaml | sed 's/version: //' | sed 's/+.*//')
          echo "version=$VERSION" >> $GITHUB_OUTPUT
          echo "Version: $VERSION"

      - name: Get commit hash
        id: get_commit
        run: |
          COMMIT_HASH=$(git rev-parse --short HEAD)
          echo "hash=$COMMIT_HASH" >> $GITHUB_OUTPUT
          echo "Commit Hash: $COMMIT_HASH"

      - name: Set up Flutter
        uses: subosito/flutter-action@v2.14.0
        with:
          cache: true
          cache-key: "flutter-:os:-:channel:-:version:-:arch:-:hash:"
          cache-path: "${{ runner.tool_cache }}/flutter/:channel:-:version:-:arch:"

      - name: Cache Pub Dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.pub-cache
            ${{ github.workspace }}/.dart_tool
          key: ${{ runner.os }}-pub-${{ hashFiles('**/pubspec.lock') }}
          restore-keys: |
            ${{ runner.os }}-pub-

      - name: Cache Gradle
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
            android/.gradle
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Install Flutter Dependencies
        run: flutter pub get

      - name: Decode Keystore
        run: echo "${{ secrets.ANDROID_RELEASE_KEY }}" | base64 --decode > android/app/release.keystore

      - name: Create key.properties
        run: |
          cat <<EOF > android/key.properties
          storePassword=${{ secrets.ANDROID_RELEASE_KEY_PASSWORD }}
          keyPassword=${{ secrets.ANDROID_RELEASE_KEY_PASSWORD }}
          keyAlias=upload
          storeFile=release.keystore
          EOF

      - name: Setup Shorebird
        uses: shorebirdtech/setup-shorebird@v1
        with:
          cache: true

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "17"

      - name: Shorebird Patch Android
        uses: shorebirdtech/shorebird-patch@v1
        with:
          platform: android
          release-version: latest
          args: >
            --
            --dart-define="BUILD_VERSION=${{ steps.get_version.outputs.version }}"
            --dart-define="BUILD_NUMBER=${{ github.run_number }}"
            --dart-define="COMMIT_HASH=${{ steps.get_commit.outputs.hash }}"
            --dart-define="MAIMAI_NET_API_AES_KEY=${{ secrets.MAIMAI_NET_API_AES_KEY }}"
            --dart-define="MAIMAI_NET_API_AES_IV=${{ secrets.MAIMAI_NET_API_AES_IV }}"
            --dart-define="MAIMAI_NET_API_OBFUSCATE_PARAM=${{ secrets.MAIMAI_NET_API_OBFUSCATE_PARAM }}"
            --dart-define="MAIMAI_NET_API_KEYCHIP_ID=${{ secrets.MAIMAI_NET_API_KEYCHIP_ID }}"
            --dart-define="MAIMAI_NET_API_SALT=${{ secrets.MAIMAI_NET_API_SALT }}"
            --dart-define="MAIMAI_NET_API_OPEN_GAME_ID=${{ secrets.MAIMAI_NET_API_OPEN_GAME_ID }}"
            --dart-define="MAIMAI_NET_API_CHIME_ENDPOINT=${{ secrets.MAIMAI_NET_API_CHIME_ENDPOINT }}"
            --dart-define="MAIMAI_NET_API_TITLE_ENDPOINT=${{ secrets.MAIMAI_NET_API_TITLE_ENDPOINT }}"
